@import "./utils/animations.scss";
@import "./utils/variables.scss";
@import "./utils/mixins.scss";
@import "./base/base.scss";
@import "./components/buttons.scss";
@import "./components/location.scss";
@import "./layouts/header.scss";
@import "./layouts/footer.scss";
@import "./layouts/loader.scss";
@import "./pages/homepage.scss";
@import "./pages/menus.scss";

