

button
{
    border-radius: 18px;
    border: none;
    padding: 12px;
    margin-top: 16px;
    background-image: $color__button;
    color: white;
    font-weight: 500;
    box-shadow: 2px 4px 6px $color__button__shadow;
}

