

.buttons
{
    cursor: pointer;
    border-radius: 18px;
    border: none;
    padding: 12px;
    margin-top: 16px;
    background-image: $color__button;
    color: white;
    font-weight: 500;
    box-shadow: 2px 4px 6px $color__button__shadow;
}

.buttons:hover
{
 opacity: 0.9;
 transition: 0.8s;
 box-shadow: 2px 4px 8px darken($color: $color__button__shadow, $amount: 10%);
}
