.top__location
{
    text-align: center;
    font-size: 16px;
    background-color: $color__background__location;
    padding: 16px;

    &__input
    {
        cursor: pointer;
        border: none;
        background-color: $color__background__location;
        text-align: center;
        padding: 0px;
    }
}
