/**Page d'accueil ohmyfood**/ 

.loader
{
    @include loader__background;
    animation: background__loader--blur 1.4s linear both;
    animation-delay: 0.1s;

    &__dots
    {
        margin: auto;
        display: flex;
        align-items: center;
        position: relative;
        width: 120px;
        height: 120vh;

        &--dot
        {
            position: absolute;
            width: 18px;
            height: 18px;
            border-radius: 100%;
            background-color: $tertiary;
            opacity: 0.5;
            border: 1px;
            box-shadow: inset 1px 1px 1px $color__background__body;
            animation: all 0.3s ease 5;
            animation-fill-mode: forwards;
        }

        &--dot1
        {
            left: 0px;
            animation-name: dots--reveal, spinner--of ;
        }

        &--dot2
        {
            left: 0px;
            animation-name: dots--slide, spinner--of;
        }

        &--dot3
        {
            left: 24px;
            animation-name: dots--slide, spinner--of;
        }

        &--dot4
        {
            left: 48px;
            animation-name: dots--reveal, spinner--of;
            animation-direction: reverse;
        }
    }
}


/* presentation de ohmyfood */

.top__presentation
{
    text-align: center;
    margin: auto;
    padding: 16px 0px;
    background-color: $color__background__body;

    &__heading
    {
        width: 75%;
        margin: auto;
    }

    &__subtitle
    {
        width: 75%;
        margin: auto;
    }

    &__button--container
    {
        padding: 32px;
        font-family: $font__text;
    }
}

/* Fonctionnement de ohmyfood */

.top__howto
{

    width: 90%;
    margin: auto;

   &__list
   {
    display: flex;
    flex-direction: column;
    gap: 24px;
   }

   &__list--element
   {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 24px;
    border-radius: 12px;
    background-color: $color__background__body;
    filter: drop-shadow(2px 4px 8px #e9e9e9);
    font-weight: 500;
   }

   &__list--element:hover
   {
    cursor: pointer;
    background-color: lighten($color: $primary, $amount: 35%);
    transition: 0.15s ease-in-out;
    filter: drop-shadow(2px 4px 8px darken($color: #ececec, $amount: 10%));

       & i 
       {
        color: $primary;
       }
   }

   &__count
   {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    font-weight: 500;
    background-color: $primary;
    width: 20px;
    height: 20px;
    font-size: 12px;
    margin-left: -32px;
   }

   & i 
   {
    color: $color____howto__icon;
   }
}

/* Les restaurants */

#restaurants
{
    background-color: $color__background__body;
}

.restaurants
{
    &__wrapper
    {
        width: 90%;
        margin: auto;
    }

    &__container
    {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__card
    {
        position: relative;
        @include shadow__card;
        background-color: white;
        border-radius: 16px;
        transform: scale(1);
        transition: 0.15s ease-in-out;
        animation: card--iscoming 1s ease-in-out both;
        animation-delay: 1.5s;

        &:hover
        {
            
            @include shadow__card--hover;
        }

        &__body
        {
            display: flex;
            justify-content: space-between;
            padding: 16px;
            margin: auto;
            align-items: center;
        }

        &__heading
        {
            font-size: 14px;
        }

        &__icon
        {
            position: absolute;
            right: 52px;
            bottom: 52px;

            & i 
            {
                position: absolute;
                font-size: 32px;

                &.fa-solid
                {
                    @include full__heart;
                }
            }

            &:hover .fa-solid
            {
                @include full__heart--move;
               
            }

            &:active .fa-solid
            {
                @include full__heart--move;
               
            }
        }


        &--link
        {
            color: black;
        }

        &__image
        {
            position: relative;

            & img 
            {
                width: 100%;
                height: 180px;
                object-fit: cover;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
            }

            &--new 
            {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 16px;
                right: 16px;
                width: 80px;
                height: 25px;
                background-color: $tertiary;
                color: darken($tertiary, 35%);
                font-size: 12px;
                font-family: $font__text;
                font-weight: bold;
                border-radius: 2px;
            }
        }   
    }
    
    &__card1
    {
        animation-name: card--iscoming;
        animation-delay: 0.5s;
    }
    &__card2
    {
        animation-name: card--iscoming;
        animation-delay: 0.7s;
    }
    &__card3
    {
        animation-name: card--iscoming;
        animation-delay: 0.9s;
    }
    &__card4
    {
        animation-name: card--iscoming;
        animation-delay: 1.1s;
    }

}