/*version desktop*/

@media screen and (min-width: 1024px)
{
    .top__howto
    {
        max-width: 1920px;
        display: grid;
        grid-template-columns: 1fr 4fr;

        &__list
        {
            flex-direction: row;
            justify-content: space-around;
        }
    }
}

@media screen and (min-width: 1024px)
{
    .restaurants__container
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
