/**Page d'accueil ohmyfood**/ 

//presentation de ohmyfood

.top
{
    &__presentation
{
    text-align: center;
    margin: auto;
    padding: 16px 0px;
    background-color: $color__background__body;

    &__heading
    {
        width: 75%;
        margin: auto;
    }

    &__subtitle
    {
        width: 75%;
        margin: auto;
    }

    &__button--container
    {
        padding: 32px;
        font-family: $font__text;
    }
}

@media screen and (min-width:$min-width) and (max-width:$max-width)
{
    
    
}

//Fonctionnement de ohmyfood

.top__howto
{

    width: 90%;
    margin: auto;

   &__list
   {
    display: flex;
    flex-direction: column;
    gap: 24px;
   }

   &__list--element
   {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 24px;
    border-radius: 12px;
    background-color: $color__background__body;
    filter: drop-shadow(2px 4px 8px #e9e9e9);
    font-weight: 500;
   }

   &__list--element:hover
   {
    cursor: pointer;
    background-color: lighten($color: $primary, $amount: 35%);
    transition: 0.15s ease-in-out;
    filter: drop-shadow(2px 4px 8px darken($color: #ececec, $amount: 10%));

       & i 
       {
        color: $primary;
       }
   }

   &__count
   {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    font-weight: 500;
    background-color: $primary;
    width: 20px;
    height: 20px;
    font-size: 12px;
    margin-left: -32px;
   }

   & i 
   {
    color: $color____howto__icon;
   }
}

@media screen and (min-width:$min-width) and (max-width:$max-width)
{ 
    .top
        {   
            &__location
            {
                grid-column: 1/span2;
            }

            &__presentation
            {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-rows: 1fr 1fr 2fr;

                &__button--container
                {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            
            &__howto__heading
            {
                text-align: center;
            }
        } 
}

@media screen and (min-width:$large--screen)
{
    .top__howto
    {
        max-width: 1920px; 

        &__list
        {
            flex-direction: row;
            justify-content: space-around;
        }
    }
}
}

@media screen and (min-width:$min-width) and (max-width:$max-width)
{
    .top
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10% 1fr;
    }
    
}

//Les restaurants

#restaurants
{
    background-color: $color__background__body;
}

.restaurants
{
    &__wrapper
    {
        width: 90%;
        margin: auto;
    }

    &__container
    {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    @media screen and (min-width:$min-width) and (max-width:$max-width) 
    {
        &__container
        {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    @media screen and (min-width:$large--screen)
    {
        &__container
        {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    &__card
    {
        position: relative;
        @include shadow__card;
        background-color: white;
        border-radius: 16px;
        transform: scale(1);
        transition: 0.15s ease-in-out;
        animation: card--iscoming 1s ease-in-out both;
        animation-delay: 1.5s;

        &:hover
        {
            
            @include shadow__card--hover;
        }

        &__body
        {
            display: flex;
            justify-content: space-between;
            padding: 16px;
            margin: auto;
            align-items: center;
        }

        &__heading
        {
            font-size: 14px;
        }

        &__icon
        {
            cursor: pointer;
            position: absolute;
            right: 52px;
            bottom: 52px;

            & i 
            {
                position: absolute;
                font-size: 32px;

                &.fa-solid
                {
                    @include full__heart;
                }
            }

            &:hover .fa-solid
            {
                @include full__heart--move;
               
            }

            &:active .fa-solid
            {
                @include full__heart--move;
               
            }
        }


        &--link
        {
            color: black;
        }

        &__image
        {
            position: relative;

            & img 
            {
                width: 100%;
                height: 180px;
                object-fit: cover;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
            }

            &--new 
            {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 16px;
                right: 16px;
                width: 80px;
                height: 25px;
                background-color: $tertiary;
                color: darken($tertiary, 35%);
                font-size: 12px;
                font-family: $font__text;
                font-weight: bold;
                border-radius: 2px;
            }
        }   
    }
    
    &__card1
    {
        animation-name: card--iscoming;
        animation-delay: 0.5s;
    }
    &__card2
    {
        animation-name: card--iscoming;
        animation-delay: 0.7s;
    }
    &__card3
    {
        animation-name: card--iscoming;
        animation-delay: 0.9s;
    }
    &__card4
    {
        animation-name: card--iscoming;
        animation-delay: 1.1s;
    }

}