/* animation de l'icone place */

@keyframes location__animation
{
  0% {
    transform: scale(0.1);
  }

  12% {
    transform: scale(0.3);
  }

  25% {
    transform: scale(0.5);
  }

  30% {
    transform: scale(0.7);
  }

  40% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  55% {
    transform: scale(1.1);
  }

  60% {
    transform: scale(1.2);
  }

  70% {
    transform: scale(1.4);
  }

  80% {
    transform: 1.5;
  }

  90% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}




/* animation de remplissage du coeur */

@keyframes heart__animation 
{
    0% {
      opacity: 0;
      transform: scale(0.1);
      
    }
   
    12% {
      transform: scale(0.3);
      opacity: 0.18;
  }
  
    25% {
      transform: scale(0.5);
      opacity: 0.55;
  }
  
    50% {
      transform: scale(0.6);
      opacity: 0.65;
  }

    65% {
        transform: scale(0.7);
        opacity: 0.8;
  }

    85% {
        transform: scale(1.2);
        opacity: 1.2;
    }
  
    100% {
      opacity: 1;
      transform: scale(1.05);
      
    }
}
/* animation background__loader*/ 
@keyframes background__loader--blur{
  0%{
    backdrop-filter: blur(15px);
  }
  99%{
    backdrop-filter: blur(0px);
    background-image: none;
    z-index: 0;
  }
  100%{
    backdrop-filter: blur(0px);
    background-image: none;
    z-index: -1;
  }
 
}
/* animation dots loader*/

@keyframes dots--reveal {
  from {
    transform: scale(0.001);
  }
  to { 
    transform: scale(1);
  }
}


  @keyframes dots--slide {
    to { transform: translateX(24px) }
}