//fonts

$font__text: 'Roboto', sans-serif;
$font__logo: 'Shrikhand', cursive;

//colors

$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

$color__button: linear-gradient(175deg, $secondary 18%, $primary);
$color__button__shadow: #D0D0D0;
$color__background__location: #EAEAEA;
$color__background__body: #F6F6F6;
$color__background__footer: #353535;
$color____howto__icon: #7E7E7E;

// breakpoint

$min-width: 768px;
$max-width: 1023px;
$large--screen: 1024px;
