/* footer */ 

.footer
{
    background-color: $color__background__footer;
    color: white;

    &__wrapper
    {
        width: 90%;
        margin: auto;
    }

    &__logo
    {
        font-family: $font__logo;
    }

    &__list
    {
        line-height: 1.5;

        &__element
        {
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }

    & i 
    {
        width: 16px;
        height: 16px;
    }

    & a 
    {
        color: white;

        &:hover
        {
            color: $tertiary;
        }

    }


}