/* footer */ 

.footer
{
    background-color: $color__background__footer;
    color: white;
    padding: 24px 16px;

    &__logo
    {
        font-family: $font__logo;
    }

    &__list
    {
        line-height: 1.5;
        margin: 0px;

        &__element
        {
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }

    & i 
    {
        width: 16px;
        height: 16px;
    }

    & a 
    {
        color: white;

        &:hover
        {
            color: $tertiary;
        }

    }
}