.header
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;

    &__ico
    {
        position: absolute;
        left: 24px;
        font-size: 24px;
    }

    & a 
    {
        color: black;
    }
}

